{% extends 'recipe/base.html' %}

{% block content %}
{% if ingredient_list %}
<div class="content">
<h1>Все ингредиенты</h1>
<ul>
    {% for ingredient in ingredient_list %}
    <li>{{ ingredient.name }}. Этот ингредиент можно встретить в таких блюдах, как:
        {% for dish in ingredient.dish.all %}
            {% if not forloop.last %}
                <span> {{ dish }}, </span>
            {% else %}
                <span>{{ dish }}.</span>
            {% endif %}
        {% endfor %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p> Нет ингредиентов </p>
</div>
{% endif %}
{% endblock %}
